/* Discussion */
.posts {
    line-height: 19px;
    margin: 5px 0 10px 0;
    padding: 15px 0 26px 0;
    border-bottom: 1px dotted #595959;
}
.posts h2 {
    font: bold 100% Tahoma;
    float: left;
    padding: 2px 0 0;
}
.posts .float-right {
    padding-top: 5px;
}
.post-author {
    font-size: 16px;
}
.post-date {
    font-size: 14px;
}
.posts em {
    font-size: 85%;
}
.post-message {
    padding: 17px 0 0 0;
    font-size: 14px;
}
.left-column .post-author,.right-column .post-author {
    padding: 3px 0 15px;
}
.discussion-block .no-items {
    margin-bottom: 15px;
}
.discussion-block .subheader {
    padding-bottom: 15px;
}
.product-main-info .stars img {
    margin: 0;
    padding: 3px 1px 0;
}
.product-main-info .stars {
    float: left;
    padding: 0 2px 0 0;
}
.company-page-top-links .stars i {
    font-size: 21px;
}
.product-quick-view .stars {
    float: left;
    padding: 0 17px 0 0;
}
.product-main-info .image-border .stars {
    float: none;
    text-align: center;
    padding: 8px 0 0;
}
.stars {
    padding: 0;
    font-size: 135%;
}
.product-image .stars img,.product-item-image .stars img,.feature-image .stars img,.image-border .stars img,.mainbox2-body .product-image .stars img,.mainbox2-body .product-item-image .stars img,.mainbox2-body .mainbox2-body .feature-image .stars img,.mainbox2-body .image-border .stars img {
    border: 0 none;
    background-color: transparent;
    padding: 0 1px;
}
.post-new {
    margin-top: -15px;
}
.posts .no-items {
    margin-bottom: 40px;
}

/* Rate stars */
.rating {
    float:left;
}
.rating label {
    display: inline-block;
}
.rating:not(:checked) > input {
    position: absolute;
    left: -9999px;
    clip: rect(0,0,0,0);
}
.rating:not(:checked) > label {
    float: right;
    width: 17px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 100%;
    line-height: 1.2;
    margin-right: 2px;
}
.rating:not(:checked) > label:before {
    font-family: 'glyphs';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 21px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e004";
}
.rating:not(:checked) > label:hover:before,
.rating:not(:checked) > label:hover ~ label:before {
    content: "\e041";
}
.rating > input:checked ~ label:before,
.rating > input:checked + label:hover:before,
.rating > input:checked + label:hover ~ label:before,
.rating > input:checked ~ label:hover:before,
.rating > input:checked ~ label:hover ~ label:before,
.rating > label:hover ~ input:checked ~ label:before {
    content: "\e041";
}
.product-title-wrap .stars {
    margin-top: 4px;
    height: 15px;
}
/* /Rate stars */
.certified-buyer {
    background: url(../../../media/images/certif.png) no-repeat 0 4px;
    padding-left: 12px;
    color: #0080ff;
    margin-left: 22px;
    font-size: 11px;
}
.post-rating p.stars {
    display: inline-block;
    vertical-align: middle;
}
.post-rating p.stars i {
    font-size: 20px;
    margin-right: 5px;
}
.post-author-wrp {
    margin-bottom: 2px;
}
.posts .product-name {
    font-size: 14px;
    padding-top: 10px;
}
/* /Discussion */